@charset "utf-8";

/* 共通部分 */
html{
  font-size: 100%;
}
body{
  font-family: "verdana","ヒラギノ角ゴ Pro W3",sans-serif;
  padding: 0 10%;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

/* header */
header{
  height: 35px;
  padding-top: 7px;
}
.page_header{
  display: flex;
  justify-content: space-between;
}
.logo{
  display: inline-block;
  padding-left: 16px;
}
.logo p{
  font-style: "Comic Sans MS";
  font-size: 20px;
  padding-top: 8px;
}
.logo img{
  max-width: 10%;
}
.menu{
  display: inline-block;
}
.main_nav{
  display: flex;
  padding-top: 10px;
  padding-right: 20px;
}
.main_nav li{
  padding-left: 40px;
}
.main_nav li a{
  color: black;
}
.top_image{
  position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
  text-align: center;
  /* width: auto; */
}
.top_image h1{
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    font-size: 40px;
    color:#fff;
    text-shadow: 0 0 15px #666;
}

/* main */
#video{
  margin-top: 10px;
  /* max-width: 100%; */
  height: auto;
  width: auto;
}
.container{
  height: 100vh;
  text-align: center;
  padding-top: 50px;
}
.container h1{
  font-size: 50px;
  color: black;
  padding: 50px 0;
}
.container P{
  /* font-size: 20px;
  padding:10px; */
}

.flex_container{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.service{
  position: relative;
  height: 260px;
  width: 25%;
}
.service .wrapper a{
  position: relative;
  height: 100%;
  width: 100%;
}
.service p{
  position: absolute;
  color: #fff;
  font-size: 2.5rem;
  top: 20%;
  left: 13%;
}
.service img{
  border-radius: 5%;
  height: 75%;
  width: 90%;
}
.service_3 p{
  color: #000000;
}
.container_service_1{
  border: solid;
}
.container_service_2{
  border: solid;
}
.container_service_3{
  border: solid;
}
.container_service_4{
  border: solid;
}
/* 空撮コンテナ */
.service_1_movie{
  background-color: #fffacd;
  height: 200px;
  width: 200px;
}
.service_2_movie{
  background-color: #f5deb3;
  height: 200px;
  width: 200px;
}
.service_3_movie{
  background-color: #deb887;
  height: 200px;
  width: 200px;
}


/* コンタクトコンテナ */
.flex_container_contact{
  margin-top: 0;
  display: flex;
  justify-content: center;
}
.contact_item{
  background-color: rgba(220,220,220, 0.3);
  height: 300px;
  width: 100%;
}
.contact_item p{
    font-size: 1.2rem;
    padding-top: 25px;
}
.address::before{
  font-family: "Font Awesome 5 Free";
  content: '\f3c5';
  /* FontAwesome5からはCSSでアイコンを表示する場合に、font-weightも合わせて指定する必要があります。Solidタイプのアイコンを表示するときにはfont-weight: 900;を、Regularタイプのアイコンを表示するときにはfont-weight: 400;を合わせて書きましょう。 */
  font-weight: 900;
  padding-right: 5px;
}
.phone::before{
  font-family: "Font Awesome 5 Free";
  content: '\f3cd';
  /* FontAwesome5からはCSSでアイコンを表示する場合に、font-weightも合わせて指定する必要があります。Solidタイプのアイコンを表示するときにはfont-weight: 900;を、Regularタイプのアイコンを表示するときにはfont-weight: 400;を合わせて書きましょう。 */
  font-weight: 900;
  padding-right: 5px;
}
.e_mail::before{
  font-family: "Font Awesome 5 Free";
  content: '\f0e0';
  /* FontAwesome5からはCSSでアイコンを表示する場合に、font-weightも合わせて指定する必要があります。Solidタイプのアイコンを表示するときにはfont-weight: 900;を、Regularタイプのアイコンを表示するときにはfont-weight: 400;を合わせて書きましょう。 */
  font-weight: 900;
  padding-right: 5px;
}
.service_plans{
  width: 30%;
}

.upper-label{
  background-color: #4169e1;
  border-radius: 3%;
}
.upper-label h2{
  color: #fff;
  padding-bottom: 10px;
}
.p_1{
  font-size: 15px;
  font-style: oblique;
  padding-top: 10px;
  color: #fff;
}
.p_2{
  ont-size: 15px;
      color: #fff;
      padding-top: 5px;
      padding-bottom: 10px;
}

/* footer */
.footer{
  background-color: #d3c1af;
  height: 100px;
}
